/* Import Comfortaa, Open+Sans, Ubuntu fonts */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans|Ubuntu');

i {
    padding-right: 1%;
}

#map {

  height: 400px;
  width: 100%;
}

a {
   -moz-transition: all 0.2s linear !important;
   -webkit-transition: all 0.2s linear !important;
   -o-transition: all 0.2s linear !important;
   transition: all 0.2s linear !important;
   text-decoration: none  !important;
	border-bottom-color: #884EA0 !important;
  border-bottom: 0px dotted !important;
}
a:link {
    text-decoration: none;
    color: #FFF;

}

a:visited {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #999393;

}
a:active {
    text-decoration: none !important;
}

.indexHeader, .indexheader a {
    padding-top: 13%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 128px;
}

/* Div tag "indexHeader" styling elements, i, p, button **/
.indexHeader i {
    font-size: 70px;
    padding-bottom: 5%;
}

.indexHeader p {
    padding-top: 2%;
    padding-left: 1%;
    font-size: 24px;
}

.indexHeader button {
    margin-top: 2%;
    margin-bottom: 20%;
    text-decoration: none;
}

.indexHeader h1 {
  font-size: 72px;
}


.indexHeader .btn:hover, .indexHeader .btn:focus {
    background: #3fc0ad;
    outline: none !important;
}

.card {
  display: inline;
  text-align: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

.card a {
  color: #000;
}

.card-header {
  font-size: 28px;
}

/* Index jumbotron styling */
.jumbotron {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0% !important; /* !important Overrides Bootstrap default styling of margin-bottom */
    height: 100%;
}
.jumbotron a {
    margin-left: 2%;
    margin-right: 6%;
    color: black !important; /* !important Overrides Bootstrap default styling of the color attribute */
}
.jumbotron a:hover {
    margin-left 2%;
    margin-right: 6%;
    color: white !important; /* !important Overrides Bootstrap default styling of the color attribute */
}

btn {
  margin-left: auto;
  margin-right: auto;

}

/* Registration Page */

.form-control {
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e4e5;
}

.form-control:focus {
    border-color: #5fcaba;
}

.form-control, .btn {
    border-radius: 2px;
}

.public-signup-form {
    padding-top: 10%;
    width: 500px;
    height: 450px;
	  margin: auto;
    text-align: center;

}

.public-signup-form .btn:hover, .signup-form .btn:focus {
    background: #3fc0ad;
    outline: none !important;
}

.public-signup-form a {
    color: #000;
    text-decoration: underline;
}

.public-signup-form a:hover {
    text-decoration: none;
}

.public-signup-form form a {
    color: #5fcaba;
    text-decoration: none;
}

.public-signup-form form a:hover {
    text-decoration: underline;
}

.g-recaptcha {
    display: inline-block;
    text-align: center;
    padding-top: 0.8%;
    padding-bottom: 2.4%;
}

.login-form {
    padding-top: 10%;
    width: 500px;
    height: 450px;
	  margin: auto;
    text-align: center;
}


.login-form i {

}

.login-form form {
	color: #9ba5a8;
	border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
	color: #333;
    font-size: 48px;
	  font-weight: normal;
    margin-top: 0;
}

.login-form hr {
    margin: 0 -30px 20px;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    font-weight: normal;
    font-size: 13px;
}

.login-form .btn {
    font-size: 18px;
    font-weight: normal;
    border: none;
    min-width: 140px;
    margin-top: 2.5%;
}

.login-form .btn:hover, .login-form .btn:focus {
    background: #3fc0ad;
    outline: none !important;
}

.login-form a {
    color: #000;
    text-decoration: underline;
}

.login-form a:hover {
    text-decoration: none;
}

.login-form form a {
    color: #5fcaba;
    text-decoration: none;
}

.login-form form a:hover {
    text-decoration: underline;
}


.report-bicycle-form {
    padding-top: 10%;
    width: 500px;
    height: 450px;
	  margin: auto;
    text-align: center;

}

.report-bicycle-form .btn:hover, .signup-form .btn:focus {
    background: #3fc0ad;
    outline: none !important;
}

.report-bicycle-form a {
    color: #000;
    text-decoration: underline;
}

.report-bicycle-form a:hover {
    text-decoration: none;
}

.report-bicycle-form form a {
    color: #5fcaba;
    text-decoration: none;
}

.report-bicycle-form form a:hover {
    text-decoration: underline;
}
